.container .item {
    background-color: blue;
    color: white;
    font-size: 2rem;
    border: 2px solid white;
    padding: 10px 20px;
}

.container {
    background: red;
    padding: 20px;
    margin: 10px;
    height: 50vh;

    display: grid;
    grid: auto-flow auto / repeat(4, minmax(100px, auto));
   
    justify-items: stretch;
    align-items: stretch;

    justify-content: space-between;
    align-content: space-around;
}

.item:nth-child(7){
    justify-self: center;
    align-self: start;
}